.navbar{
    background: transparent;
}

.logo{

}

.logo_img{
    width: 130px
}

.navigation{
    height: 35px;
    line-height: 35px;
}

.navbar-nav .nav-item{
    background-image: url("../img/main/nav_item_02.png");
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.3s;
}

.navbar-nav .nav-item:hover{
    background-image: url("../img/main/nav_item_02_hover.png");
}

.nav-link{
    color: #603813;
    font-size: 14px;
    font-weight: bold;
}

.navbar-nav .nav-item:hover .nav-link{
    color: #A56B44;
}

.navbar-bar{
    background-image: url("../img/main/nav_item_bar.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.dropdown-menu{
    left: inherit;
    right: 0;
}
