{% extends 'base.html' %}

{% load static %}

{% block head %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2021.3.1207/styles/kendo.default-v2.min.css"/>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://kendo.cdn.telerik.com/2021.3.1207/js/kendo.all.min.js"></script>
<script src="https://kendo.cdn.telerik.com/2021.3.1207/js/cultures/kendo.culture.ko-KR.min.js"></script>

<link rel="stylesheet" href="{% static '/css/analysis.css' %}">

{% endblock head %}

{% block content %}

{% include 'header.html' %}

<div class="container p-0">

    <nav aria-label="Page navigation d-inline row" class="date navigation col-12 p-0">
        <ul class="pagination mt-5 col-6 mx-auto">
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
                    <span aria-hidden="true"><i class="fas fa-angle-double-left"></i></span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true"><i class="fas fa-angle-left"></i></span>
                </a>
            </li>
            {% endif %}
            <li class="page-item selectMonth text-center">
                <input type="text" id="statisticsMonth" class="text-center" autocomplete="off"
                       value="2022년 01월"/>
                {% comment %}
                value='' 에 들어갈 값 형식
                {% for statistics in statistics_list %}{{ statistics.statistics_month|date:'Y년 M' }}{% endfor %}
                {% endcomment %}
            </li>
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true"><i class="fas fa-angle-right"></i></span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page=1" aria-label="First">
                    <span aria-hidden="true"><i class="fas fa-angle-double-right"></i></span>
                </a>
            </li>
            {% endif %}
        </ul>

        <div class="col-6 justify-content-right">
            {% for statistics in statistics_list %}
            <span class="update align-middle">데이터 반영 기준: {{ statistics.update_date.year }}년 {{ statistics.update_date.month }}월
            {{ statistics.update_date.day }}일 {{ statistics.update_date.hour }}시 {{ statistics.update_date.minute }}분까지 이용 분</span>
            {% endfor %}
        </div>
    </nav>

    <div class="contents row justify-content-between">
        <div class="monthly_read_count col-6 mt-3">
            <div class="monthly_read_count_content">
                <span class="monthly_read_count_text_header">
                    우리 회사 직원들은
                </span>
                <span class="monthly_read_count_text_body">

                    {% comment %}
                        ex) {% statistics.book_count %}
                        평균 <span class="emphasis_text mx-1">{% statistics.book_count %}권</span>의 책을 읽었습니다
                    {% endcomment %}

                평균 <span class="emphasis_text mx-1">5권</span>의 책을 읽었습니다
                </span>
            </div>
        </div>

        <div class="monthly_times col-6 mt-3 pl-0">
            <div class="monthly_times_content">
                <div class="monthly_times_text_header">
                    <p class="top">우리회사</p>
                    <p class="bottom mt-2">직원들은</p>
                </div>
                <div class="monthly_times_text_body">
                    <span class="top">

                        {% comment %}
                            ex) {% statistics.hours %} {% statistics.minute %}
                            평균 <span class="emphasis_text mx-1">{% statistics.hours %}시간 {% statistics.minute %}분</span>
                        {% endcomment %}

                        평균 <span class="emphasis_text mx-1">1시간 45분</span>
                    </span>
                    <p class="bottom mt-4">
                        동안의 독서 시간을 가졌습니다
                    </p>
                </div>
            </div>
        </div>

        <div class="monthly_user_rank col-12 mt-5">
            <div class="monthly_user_rank_header mt-3">
                <h3 class="monthly_user_rank_header_title">이달의 다독왕</h3>
            </div>

            {% comment %}
            ex)
            millie B2B dashboard 페이지의 독서 순위 참조

            {% for mem in read_cnt_ranks %}
            <div class="monthly_user_rank_content_item col mb-4">
                <div class="card h-100 border-0">

                    이 이미지는 DB에서 불러올지 아니면 static을 이용해서 가져올지 -> 일단 static 으로 진행
                    <img src="{% url '' %}" alt="rank_{{ forloop.counter }}" class="monthly_user_rank_content_item_img card-img-top px-5 p-4 m-auto">
                    <img src="{% static 'img/statistics/user_rank_first.png' %}" alt="rank_{{ forloop.counter }}" class="monthly_user_rank_content_item_img card-img-top px-5 p-4 m-auto">

                    <div class="monthly_user_rank_content_item_body px-0 card-body text-center">
                        <h5 class="monthly_user_rank_content_item_body_title mb-2 card-title">{{ mem.member.member_id }}</h5>
                        <p class="monthly_user_rank_content_item_body_count card-text">{{ mem.read_book_count }}권</p>
                    </div>
                </div>
            </div>
            {% endfor %}

            {% endcomment %}

            <div class="monthly_user_rank_content row row-cols-1 row-cols-md-5 mt-3">
                <div class="monthly_user_rank_content_item col mb-4">
                    <div class="card h-100 border-0">
                        <img src="{% static 'img/statistics/user_rank_first.png' %}" class="monthly_user_rank_content_item_img card-img-top px-5 p-4 m-auto" alt="rank_1st">
                        <div class="monthly_user_rank_content_item_body px-0 card-body text-center">
                            <h5 class="monthly_user_rank_content_item_body_title mb-2 card-title">aixcon123</h5>
                            <p class="monthly_user_rank_content_item_body_count card-text">6권</p>
                        </div>
                    </div>
                </div>
                <div class="monthly_user_rank_content_item col mb-4">
                    <div class="card h-100 border-0">
                        <img src="{% static 'img/statistics/user_rank_second.png' %}" class="monthly_user_rank_content_item_img card-img-top px-5 p-4 m-auto" alt="rank_2nd">
                        <div class="monthly_user_rank_content_item_body px-0 card-body text-center">
                            <h5 class="monthly_user_rank_content_item_body_title mb-2 card-title">aixcon123</h5>
                            <p class="monthly_user_rank_content_item_body_count card-text">6권</p>
                        </div>
                    </div>
                </div>
                <div class="monthly_user_rank_content_item col mb-4">
                    <div class="card h-100 border-0">
                        <img src="{% static 'img/statistics/user_rank_third.png' %}" class="monthly_user_rank_content_item_img card-img-top px-5 p-4 m-auto" alt="rank_3th">
                        <div class="monthly_user_rank_content_item_body px-0 card-body text-center">
                            <h5 class="monthly_user_rank_content_item_body_title mb-2 card-title">aixcon123</h5>
                            <p class="monthly_user_rank_content_item_body_count card-text">6권</p>
                        </div>
                    </div>
                </div>
                <div class="monthly_user_rank_content_item col mb-4">
                    <div class="card h-100 border-0">
                        <img src="{% static 'img/statistics/user_rank_fourth.png' %}" class="monthly_user_rank_content_item_img card-img-top px-5 p-4 m-auto" alt="rank_4th">
                        <div class="monthly_user_rank_content_item_body px-0 card-body text-center">
                            <h5 class="monthly_user_rank_content_item_body_title mb-2 card-title">aixcon123</h5>
                            <p class="monthly_user_rank_content_item_body_count card-text">6권</p>
                        </div>
                    </div>
                </div>
                <div class="monthly_user_rank_content_item col mb-4">
                    <div class="card h-100 border-0">
                        <img src="{% static 'img/statistics/user_rank_fifth.png' %}" class="monthly_user_rank_content_item_img card-img-top px-5 p-4 m-auto" alt="rank_5th">
                        <div class="monthly_user_rank_content_item_body px-0 card-body text-center">
                            <h5 class="monthly_user_rank_content_item_body_title mb-2 card-title">aixcon123</h5>
                            <p class="monthly_user_rank_content_item_body_count card-text">6권</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="monthly_favorite_books col-12 mt-5">
            <div class="monthly_favorite_books_header">
                <h3 class="monthly_favorite_books_header_title">월간 인기 도서</h3>
            </div>

            {% comment %}
            ex)
            millie B2B dashboard 페이지의 독서 순위 참조

            {% for item in list %}
            <div class="monthly_favorite_books_content_item col p-0 mb-4">

                <div class="monthly_favorite_books_content_item_header">
                    <img src="{% static 'img/statistics/favorite_books_fourth_icon.png' %}" class="monthly_favorite_books_content_item_icon" alt="monthly_favorite_books_content_item_icon">

                    <img src="{% url '' %}" alt="monthly_favorite_books_content_item_img_{{ forloop.counter }}" class="monthly_favorite_books_content_item_img" alt="monthly_favorite_books_content_item_img">
                    <img src="{% static 'img/statistics/favorite_books_fourth_img.png' %}" class="monthly_favorite_books_content_item_img" alt="monthly_favorite_books_content_item_img">
                </div>

                <div class="monthly_favorite_books_content_item_body text-center">
                    <h5 class="monthly_favorite_books_content_item_body_title mb-2">{{ item.book_title }}</h5>
                    <p class="monthly_favorite_books_content_item_body_author mb-2">{{ item.book_author }}</p>
                    <div class="monthly_favorite_books_content_item_body_count m-auto">
                        <p class="monthly_favorite_books_content_item_body_count_text mb-0">열람 {{ item.book_count }}회</p>
                    </div>
                </div>

            </div>
            {% endfor %}

            {% endcomment %}

            <div class="monthly_favorite_books_content row row-cols-1 row-cols-md-5 m-0">
                <div class="monthly_favorite_books_content_item col p-0 mb-4">
                    <div class="monthly_favorite_books_content_item_header">
                        <img src="{% static 'img/statistics/favorite_books_fourth_icon.png' %}" class="monthly_favorite_books_content_item_icon" alt="monthly_favorite_books_content_item_icon">
                        <img src="{% static 'img/statistics/favorite_books_fourth_img.png' %}" class="monthly_favorite_books_content_item_img" alt="monthly_favorite_books_content_item_img">
                    </div>
                    <div class="monthly_favorite_books_content_item_body text-center">
                        <h5 class="monthly_favorite_books_content_item_body_title mb-2">책제목</h5>
                        <p class="monthly_favorite_books_content_item_body_author mb-2">저자</p>
                        <div class="monthly_favorite_books_content_item_body_count m-auto">
                            <p class="monthly_favorite_books_content_item_body_count_text mb-0">열람 6회</p>
                        </div>
                    </div>
                </div>
                <div class="monthly_favorite_books_content_item col p-0 mb-4">
                    <div class="monthly_favorite_books_content_item_header">
                        <img src="{% static 'img/statistics/favorite_books_second_icon.png' %}" class="monthly_favorite_books_content_item_icon" alt="monthly_favorite_books_content_item_icon">
                        <img src="{% static 'img/statistics/favorite_books_second_img.png' %}" class="monthly_favorite_books_content_item_img" alt="monthly_favorite_books_content_item_img">
                    </div>
                    <div class="monthly_favorite_books_content_item_body text-center">
                        <h5 class="monthly_favorite_books_content_item_body_title mb-2">책제목</h5>
                        <p class="monthly_favorite_books_content_item_body_author mb-2">저자</p>
                        <div class="monthly_favorite_books_content_item_body_count m-auto">
                            <p class="monthly_favorite_books_content_item_body_count_text mb-0">열람 6회</p>
                        </div>
                    </div>
                </div>
                <div class="monthly_favorite_books_content_item col p-0 mb-4">
                    <div class="monthly_favorite_books_content_item_header">
                        <img src="{% static 'img/statistics/favorite_books_first_icon.png' %}" class="monthly_favorite_books_content_item_icon" alt="monthly_favorite_books_content_item_icon">
                        <img src="{% static 'img/statistics/favorite_books_first_img.png' %}" class="monthly_favorite_books_content_item_img" alt="monthly_favorite_books_content_item_img">
                    </div>
                    <div class="monthly_favorite_books_content_item_body text-center">
                        <h5 class="monthly_favorite_books_content_item_body_title mb-2">주말에는 더 행복하기로 했다</h5>
                        <p class="monthly_favorite_books_content_item_body_author mb-2">카트리나 온스태드</p>
                        <div class="monthly_favorite_books_content_item_body_count m-auto">
                            <p class="monthly_favorite_books_content_item_body_count_text mb-0">열람 6회</p>
                        </div>
                    </div>
                </div>
                <div class="monthly_favorite_books_content_item col p-0 mb-4">
                    <div class="monthly_favorite_books_content_item_header">
                        <img src="{% static 'img/statistics/favorite_books_third_icon.png' %}" class="monthly_favorite_books_content_item_icon" alt="monthly_favorite_books_content_item_icon">
                        <img src="{% static 'img/statistics/favorite_books_third_img.png' %}" class="monthly_favorite_books_content_item_img" alt="monthly_favorite_books_content_item_img">
                    </div>
                    <div class="monthly_favorite_books_content_item_body text-center">
                        <h5 class="monthly_favorite_books_content_item_body_title mb-2">책제목</h5>
                        <p class="monthly_favorite_books_content_item_body_author mb-2">저자</p>
                        <div class="monthly_favorite_books_content_item_body_count m-auto">
                            <p class="monthly_favorite_books_content_item_body_count_text mb-0">열람 6회</p>
                        </div>
                    </div>
                </div>
                <div class="monthly_favorite_books_content_item col p-0 mb-4">
                    <div class="monthly_favorite_books_content_item_header">
                        <img src="{% static 'img/statistics/favorite_books_fifth_icon.png' %}" class="monthly_favorite_books_content_item_icon" alt="monthly_favorite_books_content_item_icon">
                        <img src="{% static 'img/statistics/favorite_books_fifth_img.png' %}" class="monthly_favorite_books_content_item_img" alt="monthly_favorite_books_content_item_img">
                    </div>
                    <div class="monthly_favorite_books_content_item_body text-center">
                        <h5 class="monthly_favorite_books_content_item_body_title mb-2">책제목</h5>
                        <p class="monthly_favorite_books_content_item_body_author mb-2">저자</p>
                        <div class="monthly_favorite_books_content_item_body_count m-auto">
                            <p class="monthly_favorite_books_content_item_body_count_text mb-0">열람 6회</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="favorite_category col-12 mt-5">

            <div class="favorite_category_header">
                <h3 class="favorite_category_header_title">인기 카테고리</h3>
            </div>

            <div class="favorite_category_content row mt-2">

                <div class="favorite_category_chart col-7 m-0">
                    <figure class="highcharts-figure">
                        <div id="favorite_category_container"></div>
                        <p class="highcharts-description">
                        </p>
                    </figure>

                    <script>
                        Highcharts.setOptions({
                            colors: ['#736357', '#FDEA60', '#A5A5A5', '#0178D3', '#FFB704', '#EEEEEE', '#EEEEEE', '#EEEEEE', '#EEEEEE', '#EEEEEE']
                        });

                        Highcharts.chart('favorite_category_container', {
                            chart: {
                                plotBackgroundColor: null,
                                plotBorderWidth: 0,
                                plotShadow: false,
                                backgroundColor: 'rgba(255, 255, 255, 0)',
                                style: {
                                    fontFamily: 'Noto Serif KR',
                                    color: '#595959',
                                }
                            },
                            title: {
                                text: ``,
                                align: 'middle',
                                verticalAlign: 'middle',
                                x: 300,
                                y: 20,
                            },
                            tooltip: {
                                enabled: false,
                            },
                            accessibility: {
                                point: {
                                    valueSuffix: '%'
                                }
                            },
                            plotOptions: {
                                pie: {
                                    dataLabels: {
                                        enabled: true,
                                        distance: -50,
                                        style: {
                                            fontWeight: 'bold',
                                            color: 'white'
                                        }
                                    },
                                    startAngle: 0,
                                    endAngle: 360,
                                    center: ['50%', '50%'],
                                    size: '90%',
                                    showInLegend: true,
                                    borderColor: 'rgba(255,255,255,0)',
                                }
                            },
                            legend: {
                                symbolHeight: 10,
                                symbolWidth: 10,
                                symbolPadding: 5,
                                symbolRadius: 0,
                                itemStyle: {
                                    color: '#595959',
                                    fontSize: '14px',
                                    fontWeight:'bold'
                                }
                            },
                            series: [{
                                type: 'pie',
                                name: '',
                                innerSize: '80%',
                                data: [

                                    {% comment %}
                                        {% for item in list %}
                                            [`{{ item.category_title }}`, {{ item.category_percentage }}],
                                        {% endfor %}
                                    {% endcomment %}

                                    ['소설', 35],
                                    ['자기계발', 17],
                                    ['경제', 12],
                                    ['에세이', 8],
                                    ['인문', 6],
                                ],
                                dataLabels: {
                                    enabled: false,
                                }
                            }],
                            dataLabels: {
                                enabled:false
                            },
                            credits: {
                                enabled: false
                            },
                            exporting: {
                                enabled: false
                            },
                        });
                    </script>
                </div>

                <div class="favorite_category_table col-5 m-0">
                    <div class="favorite_category_table_header text-right mr-4">
                        <img src="{% static 'img/statistics/favorite_category_table_header.png' %}" alt="favorite_category_table_header" class="favorite_category_table_header_img">
                    </div>

                    <div class="favorite_category_table_content mt-2">
                        <table class="table favorite_category_table_content_list text-right ml-auto mr-4 mb-0 pt-5">
                            <tbody>

                           {% comment %}
                            ex)
                            리스트를 5개만 뿌리도록 view 에서 설정 후

                            {% for item in list %}
                            <tr class="favorite_category_table_content_item">
                                <td class="favorite_category_table_content_item_title border-0 text-left w-50">{{ item.category_title }}</td>
                                <td class="favorite_category_table_content_item_percentage border-0 w-50">{{ item.category_percentage }}%</td>
                            </tr>
                            {% endfor %}

                            {% endcomment %}

                            <tr class="favorite_category_table_content_item">
                                <td class="favorite_category_table_content_item_title border-0 text-left w-50">소설</td>
                                <td class="favorite_category_table_content_item_percentage border-0 w-50">35%</td>
                            </tr>
                            <tr class="favorite_category_table_content_item">
                                <td class="favorite_category_table_content_item_title border-0 text-left">자기계발</td>
                                <td class="favorite_category_table_content_item_percentage border-0">17%</td>
                            </tr>
                            <tr class="favorite_category_table_content_item">
                                <td class="favorite_category_table_content_item_title border-0 text-left">경제</td>
                                <td class="favorite_category_table_content_item_percentage border-0">12%</td>
                            </tr>
                            <tr class="favorite_category_table_content_item">
                                <td class="favorite_category_table_content_item_title border-0 text-left">에세이</td>
                                <td class="favorite_category_table_content_item_percentage border-0">8%</td>
                            </tr>
                            <tr class="favorite_category_table_content_item">
                                <td class="favorite_category_table_content_item_title border-0 text-left">인문</td>
                                <td class="favorite_category_table_content_item_percentage border-0">6%</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>



{% include 'footer.html' %}

{% endblock %}

{% block script %}

{% comment %}
현재 static 파일로 kendoDatePicker를 불러오지 못하는 오류가 발생했는데
소장님이 base 만들어주시면 거기에 작업할 때 다시 테스트 진행 예정
{% endcomment %}

<script>
    const today = new Date();
    const setDay = 1;   // '월' 값을 기준으로 처리하기 위한 '1' 사용
    const firstDayOfMonth = new Date(today.getFullYear(), today.getMonth(), setDay);
    const lastMonth = new Date(firstDayOfMonth.setDate(firstDayOfMonth.getDate() - setDay));

    var statisticsMonth = $("#statisticsMonth").kendoDatePicker({
        culture: "ko-KR",
        start: "year",
        depth: "year",
        format: "yyyy년 MM월",
        max: lastMonth,
    }).data("kendoDatePicker");

    // input 클릭 시 datepicker가 open 되는 기능을 위한 테스트 코드
    var statisticsMonthpicker = $("#statisticsMonth").data("kendoDatePicker");
    $("#statisticsMonth").click(function () {
        statisticsMonthpicker.open();
    });

    // 텍스트 입력을 막기 위한 코드
    $("#statisticsMonth").on("keydown", function (e) {
        e.preventDefault();
    });

    // 대시보드 페이지 달력(월) 선택기능 일시정지
    // statisticsMonthpicker.enable(false);
</script>

{% endblock script %}
