{% load static %}
{% load comLib_tags %}

<!DOCTYPE html>
<html lang="ko">

{% comLib_head %}

{% block head %}
{% endblock head %}


<body>

{% block nav %}
{% endblock %}

{% block content %}
{% endblock %}

{% block jquery %}
{% endblock jquery %}

{% block script %}
{% endblock script %}

<!-- Library Loading -->
<!-- Bootstrap core CSS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

<!-- ICONS -->
<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

</body>

</html>